body {
    background: url('../images/prism.png');
}

/*=======================================*/
/* Navbar                                */
/*=======================================*/

#pizzaPrestoHeader {
    height: 15vh;
}


/*=======================================*/
/* Menu Screen                           */
/*=======================================*/
.screen {
    height: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
}

#menuScreen {
    background-image: url('../images/overcookedBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playButton:hover {
    height: 70px;
    cursor: pointer;
}

#menuTitleRow {
    display: flex;
}

#menuTitleContainer {
    margin: 0 auto;
}

/*=======================================*/
/* Settings Menu                         */
/*=======================================*/
#settingsMenu {
    background-image: url('../images/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

#formContainer {
    padding: 20px 50px;
    border-radius: 10px;
    margin: 10% 5%;
    width: 500px;
    min-height: 350px;
}

/* i don't think this does anything */
select, option {
    border-radius: 10px;
}

/* How do I center this? */
#startGameButton {
    margin: 10px auto;
}

/*=======================================*/
/* Game Screen                           */
/*=======================================*/
#gameScreen {
    background-image: url('../images/orangishKitchen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#usernameAndScoreContainer {
    background-image: url('../images/halftone-yellow.png');
    border-radius: 20px;
    color: black;
    padding: 20px;
    margin-top: 0px;
    max-width: 300px;
}

#chef {
    height: 300px;
}

#dialogueContainer {
    border-radius: 30px;
    padding: 5%;
}

#pizza {
    height: 300px;
}

#questionAnswerRow {
    background-image: url('../images/halftone-yellow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border-radius: 20px;
}

.answer {
    /* background-image: url('../images/halftone-yellow.png'); */
    background: white;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    display: inline;
    margin-right: 5px;
}

#pizzaOrder {
    height: 146px;
    margin: 0 auto;
}




























