#body{
    background-color: lightgoldenrodyellow;
}

.card-body{
    background-color: tan;
}

#presto{
    background-image: url("../images/red-checkered-cloth-1154787-638x466.jpg");

}

#title{
    text-align: center;
}

#pizzaHolder{
    float: right;
}

#scrollCard{
    background-image: url("../images/kisspng-paper-scroll-clip-art-paper-5ab8dd0509ede8.4276858115220646450407.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50px;

}

#ingreHead{
    text-align: center;
    margin-top: 70px;
}

#ingreList{
    margin-top: 20px;
}



#chefHolder{
    float: left;
}


#pizzaImg{
    height: 500px;
    width: 350px;
}

#chefImg{
height: 100px;
width: 40px;
margin-top: 100%;
}





