body {
    background: url('../images/prism.png');
}

/*=======================================*/
/* Navbar                                */
/*=======================================*/

#pizzaPrestoHeader {
    height: 15vh;
}


/*=======================================*/
/* Menu Screen                           */
/*=======================================*/
#menuScreen {
    background-image: url('../images/overcookedBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playButton:hover {
    height: 70px;
    cursor: pointer;
}

#menuTitleRow {
    display: flex;
}

#menuTitleContainer {
    margin: 0 auto;
}